$bg: #353535
$bg-accent: lighten($bg, 5%)
$bg-card: lighten($bg, 10%)

$color: #cdcdcd

$link-color: rgb(83, 148, 246)

$header-height: 10vh
$footer-height: 7vh

$img-size-default: 96px
$img-size-list: 1.5*$img-size-default
$img-size-details: 3*$img-size-default


$legendary-color: lighten(rgba(187,51,195,1), 10%)
$legendary-gradient: linear-gradient(138deg, rgba(187,51,195,1) 0%, rgba(121,68,230,1) 57%, rgba(0,80,255,1) 100%)

$mythical-color: rgba(246,214,13,1)
$mythical-gradient: radial-gradient(circle, rgba(247,255,0,1) 0%, rgba(246,214,13,1) 55%, rgba(245,161,20,1) 100%)

$baby-color: #8be39d