$bg: rgb(40, 43, 45)
$bg-accent: rgb(50, 54, 56)
$bg-card: rgb(59, 64, 67)

$color: #cdcdcd

$link-color: rgb(83, 148, 246)

$header-height: 10vh
$footer-height: 7vh

$img-size-default: 96px
$img-size-list: 1.5*$img-size-default
$img-size-details: 3*$img-size-default


$legendary-color: lighten(rgba(187,51,195,1), 10%)
$legendary-gradient: linear-gradient(138deg, rgba(187,51,195,1) 0%, rgba(121,68,230,1) 57%, rgba(0,80,255,1) 100%)
// was polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%)
$legendary-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%)

$mythical-color: rgba(246,214,13,1)
$mythical-gradient: radial-gradient(circle, rgba(247,255,0,1) 0%, rgba(246,214,13,1) 55%, rgba(245,161,20,1) 100%)
$mythical-clip-path: polygon(50% 0%, 90% 25%, 90% 100%, 50% 75%, 10% 100%, 10% 25%)

$baby-color: #8be39d